project_name              = "{{ project_name }}"
jira_ticket               = "{{ jira_ticket }}"
region                    = "{{ aws_region }}"
environment               = "{{ environment }}"
test_email                = "{{ test_email }}"