data "aws_caller_identity" "current" {}

locals {
  common_tags = {
    Project        = var.project_name
    Environment    = var.environment
  }
  test_email       = var.test_email
  region           = var.region
  jira_ticket      = var.jira_ticket
}